@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

header {
    background-color: #02111B;
    padding:20px;
    text-align: center;
    color: #FCFCFC;
    
}

h1, h2, h3{
    font-family:"Newsreader", serif;
}

h1 {
    font-size: 1.5em;
}

nav a {
    color:#FCFCFC;
}

p {
    font-family:"DM Sans";
}

footer {
    text-align:center;
}

.container {
    margin-top:50px;
}